body {

    display: flex;
    justify-content: center;

    background-color: hsl(212, 45%, 89%);
    
}
.info {
    font-family: 'Federo', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 500px;
    width: 314px;
    
    display: flex;
    justify-content: center;
    border-radius: 14px;
    background-color: white;
    flex-flow: column;
    text-align: center;
    align-items: center;
    margin-top: 125px;

}

.imgcover {
    
    display: flex;
    height: 56%;
    width: 95%;
    border-radius: 14px;
    color: hsl(228, 45%, 44%);
    margin-top: -38px
}

.qr {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;

}

.para {
    margin-top: -17px;

    color: hsl(220, 15%, 55%)
}

